body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

#wrapper {
  width: 920px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
}

#header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

#main-title {
  font-size: 32px;
}

.header-navigation {
  width: 100%;
  background-color: #333;
  padding: 20px 0;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  font-weight: bold;
  list-style-type: none;
}

.header-navigation li a {
  color: #ccc;
  text-decoration: none;
}

#latest-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

#left-contents {
  width: 600px;
  margin-right: 20px;
  float: left;
}

#right-contents {
  width: 300px;
  float: left;
}

#blog-list:after {
  clear: both;
  display: block;
  content: " ";
}

.article-list {
  width: 100%;
  margin-right: 35px;
  float: left;
}

.article-list:last-child {
  margin-right: 0;
}

.thumbnail {
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  float: left;
  display: block;
}

.thumbnail:after {
  clear: both;
  display: block;
  content: " ";
}

.text-area {
  float: left;
  width: 440px;
  margin-left: 10px;
}

.text-area h2 {
  color: #87CEEB;
}

#latest-title {
  border-bottom: 1px solid #333;
}

.sub-image {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  float: left;
  display: block;
}

.sub-content {
  float: left;
  width: 220px;
  margin-left: 10px;
}

.sub-content h4 {
  color: #87CEEB;
}

#blog-list:after {
  clear: both;
  display: block;
  content: " ";
}

#copyright {
  margin: 0 auto 40px auto;
  padding: 30px;
  border-top: 1px solid #777;
  color: #777;
  text-align: center;
}

#main:after {
  clear: both;
  display: block;
  content: " ";
}
